In [42]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score

In [43]:
# data = pd.read_csv('')
DataInc=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/census-income-mld/census-income.data.gz')

In [44]:
adult=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')

In [45]:
DataInc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199522 entries, 0 to 199521
Data columns (total 42 columns):
73                                           199522 non-null int64
 Not in universe                             199522 non-null object
 0                                           199522 non-null int64
 0.1                                         199522 non-null int64
 High school graduate                        199522 non-null object
 0.2                                         199522 non-null int64
 Not in universe.1                           199522 non-null object
 Widowed                                     199522 non-null object
 Not in universe or children                 199522 non-null object
 Not in universe.2                           199522 non-null object
 White                                       199522 non-null object
 All other                                   199522 non-null object
 Female                                      199522 non-null object
 Not in universe.3                           199522 non-null object
 Not in universe.4                           199522 non-null object
 Not in labor force                          199522 non-null object
 0.3                                         199522 non-null int64
 0.4                                         199522 non-null int64
 0.5                                         199522 non-null int64
 Nonfiler                                    199522 non-null object
 Not in universe.5                           199522 non-null object
 Not in universe.6                           199522 non-null object
 Other Rel 18+ ever marr not in subfamily    199522 non-null object
 Other relative of householder               199522 non-null object
 1700.09                                     199522 non-null float64
 ?                                           199522 non-null object
 ?.1                                         199522 non-null object
 ?.2                                         199522 non-null object
 Not in universe under 1 year old            199522 non-null object
 ?.3                                         199522 non-null object
 0.6                                         199522 non-null int64
 Not in universe.7                           199522 non-null object
 United-States                               199522 non-null object
 United-States.1                             199522 non-null object
 United-States.2                             199522 non-null object
 Native- Born in the United States           199522 non-null object
 0.7                                         199522 non-null int64
 Not in universe.8                           199522 non-null object
 2                                           199522 non-null int64
 0.8                                         199522 non-null int64
 95                                          199522 non-null int64
 - 50000.                                    199522 non-null object
dtypes: float64(1), int64(12), object(29)
memory usage: 63.9+ MB

In [46]:
#Preprocessing here.

DataInc.columns=['age','class of worker','industry code','occupation code','adjusted gross income','education','wage per hour','enrolled in edu inst last wk','marital status','major industry code','major occupation code','mace','hispanic Origin','sex','member of a labor union','reason for unemployment','full or part time employment stat','capital gains','capital losses','divdends from stocks','federal income tax liability','tax filer status','region of previous residence','state of previous residence','detailed household and family stat','detailed household summary in household','instance weight','migration code-change in msa','migration code-change in reg','migration code-move within reg','live in this house 1 year ago','migration prev res in sunbelt','num persons worked for employer','family members under 18','total person earnings','country of birth father','country of birth mother','country of birth self','citizenship','total person income','own business or self employed','taxable income amount']

In [47]:
DataInc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199522 entries, 0 to 199521
Data columns (total 42 columns):
age                                        199522 non-null int64
class of worker                            199522 non-null object
industry code                              199522 non-null int64
occupation code                            199522 non-null int64
adjusted gross income                      199522 non-null object
education                                  199522 non-null int64
wage per hour                              199522 non-null object
enrolled in edu inst last wk               199522 non-null object
marital status                             199522 non-null object
major industry code                        199522 non-null object
major occupation code                      199522 non-null object
mace                                       199522 non-null object
hispanic Origin                            199522 non-null object
sex                                        199522 non-null object
member of a labor union                    199522 non-null object
reason for unemployment                    199522 non-null object
full or part time employment stat          199522 non-null int64
capital gains                              199522 non-null int64
capital losses                             199522 non-null int64
divdends from stocks                       199522 non-null object
federal income tax liability               199522 non-null object
tax filer status                           199522 non-null object
region of previous residence               199522 non-null object
state of previous residence                199522 non-null object
detailed household and family stat         199522 non-null float64
detailed household summary in household    199522 non-null object
instance weight                            199522 non-null object
migration code-change in msa               199522 non-null object
migration code-change in reg               199522 non-null object
migration code-move within reg             199522 non-null object
live in this house 1 year ago              199522 non-null int64
migration prev res in sunbelt              199522 non-null object
num persons worked for employer            199522 non-null object
family members under 18                    199522 non-null object
total person earnings                      199522 non-null object
country of birth father                    199522 non-null object
country of birth mother                    199522 non-null int64
country of birth self                      199522 non-null object
citizenship                                199522 non-null int64
total person income                        199522 non-null int64
own business or self employed              199522 non-null int64
taxable income amount                      199522 non-null object
dtypes: float64(1), int64(12), object(29)
memory usage: 63.9+ MB

In [87]:
adult.columns=['age','workclass','fnlwgt','education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','salary']

In [49]:
#adult.info()

In [88]:
adult.replace(' ?',np.nan,inplace=True)
#DataInc.replace(' ?',np.nan,inplace=True)

In [89]:
adult.dropna(how='any',inplace=True)
#DataInc.dropna(how='any',inplace=True)

In [52]:
DataInc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95130 entries, 0 to 199518
Data columns (total 42 columns):
age                                        95130 non-null int64
class of worker                            95130 non-null object
industry code                              95130 non-null int64
occupation code                            95130 non-null int64
adjusted gross income                      95130 non-null object
education                                  95130 non-null int64
wage per hour                              95130 non-null object
enrolled in edu inst last wk               95130 non-null object
marital status                             95130 non-null object
major industry code                        95130 non-null object
major occupation code                      95130 non-null object
mace                                       95130 non-null object
hispanic Origin                            95130 non-null object
sex                                        95130 non-null object
member of a labor union                    95130 non-null object
reason for unemployment                    95130 non-null object
full or part time employment stat          95130 non-null int64
capital gains                              95130 non-null int64
capital losses                             95130 non-null int64
divdends from stocks                       95130 non-null object
federal income tax liability               95130 non-null object
tax filer status                           95130 non-null object
region of previous residence               95130 non-null object
state of previous residence                95130 non-null object
detailed household and family stat         95130 non-null float64
detailed household summary in household    95130 non-null object
instance weight                            95130 non-null object
migration code-change in msa               95130 non-null object
migration code-change in reg               95130 non-null object
migration code-move within reg             95130 non-null object
live in this house 1 year ago              95130 non-null int64
migration prev res in sunbelt              95130 non-null object
num persons worked for employer            95130 non-null object
family members under 18                    95130 non-null object
total person earnings                      95130 non-null object
country of birth father                    95130 non-null object
country of birth mother                    95130 non-null int64
country of birth self                      95130 non-null object
citizenship                                95130 non-null int64
total person income                        95130 non-null int64
own business or self employed              95130 non-null int64
taxable income amount                      95130 non-null object
dtypes: float64(1), int64(12), object(29)
memory usage: 31.2+ MB

In [90]:
adult.salary=[0 if x == " <=50K" else 1 for x in adult.salary]
#DataInc.head(5)

In [54]:
#DataInc["taxable income amount"]=DataInc["taxable income amount"].astype(float)

#adult.drop(columns='education_num',inplace=True)

In [91]:
# target=DataInc.iloc[:,-1:]
target=adult.iloc[:,-1:]

In [56]:
DataInc.drop(columns=['taxable income amount'],inplace=True)

In [58]:
DataInc.drop(columns=['total person income'],inplace=True)

In [92]:
#adult=pd.get_dummies(adult,columns=['workclass','education','marital_status','occupation','relationship','race','sex','native_country'])

In [61]:

DataInc=pd.get_dummies(DataInc,columns=['class of worker','education','marital status','occupation code','sex','citizenship'])

# Modeling

In [93]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(adult,target,test_size=0.2,random_state=10)

In [65]:
X_train.drop(columns=['adjusted gross income'],inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [67]:
X_train.drop(columns=['country of birth self'],inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [69]:
X_train.drop(columns=['country of birth father'],inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [70]:
X_train.drop(columns=['country of birth mother'],inplace=True)

In [77]:
X_train.drop(columns=['enrolled in edu inst last wk'],inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [80]:
X_train.drop(columns=['major industry code'],inplace=True)
X_train.drop(columns=['major occupation code'],inplace=True)
X_train.drop(columns=['member of a labor union'],inplace=True)
X_train.drop(columns=['reason for unemployment'],inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [83]:
X_train.drop(columns=['mace'],inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [84]:
X_train.head()

,age,industry code,hispanic Origin,full or part time employment stat,capital gains,capital losses,divdends from stocks,federal income tax liability,tax filer status,region of previous residence,...,occupation code_43,occupation code_44,occupation code_45,occupation code_46,sex_ No,sex_ Not in universe,sex_ Yes,citizenship_0,citizenship_1,citizenship_2
2585,29,7,Male,0,0,0,Joint both under 65,Not in universe,Not in universe,Householder,...,0,0,0,0,0,1,0,0,0,1
5109,53,0,Male,0,0,0,Joint both under 65,Not in universe,Not in universe,Householder,...,0,0,0,0,0,1,0,0,0,1
65929,42,6,Female,0,0,0,Joint both under 65,Not in universe,Not in universe,Spouse of householder,...,0,0,0,0,0,1,0,0,0,1
153801,39,11,Male,0,0,25,Single,Northeast,North Carolina,Nonfamily householder,...,0,0,0,0,0,1,0,0,0,1
51291,34,4,Male,0,0,0,Joint both under 65,Not in universe,Not in universe,Householder,...,0,0,0,0,0,1,0,0,0,1

### KNN

In [94]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier()

In [95]:
model.fit(X_train,y_train)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [96]:
y_test['prediction']=model.predict(X_test)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [99]:
print(f"""KNN accuracy: {accuracy_score(y_test.salary,y_test.prediction)}""")

KNN accuracy: 0.769600530416045

### Keras

In [100]:
import keras

ModuleNotFoundError: No module named 'keras'

In [104]:
from keras.models import Sequential
from keras.layers import Dense
from keras.losses import categorical_crossentropy
from keras.metrics import categorical_accuracy,accuracy
from keras.optimizers import Adam

ModuleNotFoundError: No module named 'keras'

In [105]:
import numpy as np
seed = 7
np.random.seed(seed)

In [106]:
keras_model = Sequential()
keras_model.add(Dense(1, input_shape=(103,), activation='relu'))
keras_model.add(Dense(2, activation='softmax'))
keras_model.compile(Adam(lr=0.05), loss='categorical_crossentropy', \
              metrics=['categorical_accuracy', 'accuracy'])
from keras.utils import to_categorical
history = keras_model.fit(X_train, to_categorical(y_train), epochs=100)

NameError: name 'Sequential' is not defined

In [107]:
y_test['keras_prediction']=np.argmax(keras_model.predict(X_test),axis=1)

NameError: name 'keras_model' is not defined

In [20]:
print(f'Keras accuracy: {accuracy_score(y_test.salary, y_test.keras_prediction)}')

Keras accuracy: 0.7526935189789491

In [103]:
#Done it.